<div class="bt b--dark-green bw3"></div>
<footer class="bg-black-80 pt4 pb6">
  <div class="w-100 mw8 center">
    <div class="flex flex-wrap mh3">
      <div class="dib db-ns w-100 w-third-ns white tc tl-ns">
        <h1 class="f3 fw7 ttu mt0 mb2 lh-solid">Hippo
          <span class="white-60">&nbsp;Hollow</span>
          <br>
          <span class="dark-green">Farm</span>
        </h1>
        <i class="fab fa-instagram f3 mr2"></i>
        <i class="fab fa-facebook-square f3 mr2"></i>
        <i class="fab fa-twitter-square f3"></i>
      </div>
      <div class="dib w-100 w-third-ns white">
        <div class="pv4 pv0-ns mh4 mh0-ns">
          <form class="center">
            <fieldset class="cf bn ma0 pa0">
              <legend class="pa0 f6 fw3 mb2">Sign up for our newsletter</legend>
              <div class="cf">
                <label class="clip" for="email-address">Email Address</label>
                <input class="f6 input-reset bn fn fl-ns black-80 bg-white pa2 lh-solid w-100 w-60-ns br2-ns br--left-ns" placeholder="Your Email Address"
                  type="text" name="email-address" value="" id="email-address">
                <input class="center db dib-ns f6 button-reset fn fl-ns pv2 ph4 ph2-ns mt3 mt0-ns tc bn bg-animate bg-dark-green hover-bg-dark-red white pointer w-40-ns br-pill br--right-ns"
                  type="submit" value="Subscribe">
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="dib w-100 w-third-ns white tc tr-ns">
        <div class="f6 fw3 mb2">Call us 444 444 4444</div>
        <div class="f3 dark-green">
          <i class="fas fa-lock mr2"></i>
          <i class="fab fa-cc-mastercard mr2"></i>
          <i class="fab fa-cc-visa"></i>
        </div>
      </div>
    </div>
  </div>
</footer>