<header class="relative">
  <!-- hero and fixed -->
  <div class="fixed top-0 z-999 w-100 bg-white">
    <!-- sticky header -->
    <div class="relative w-100 mw8 center pt3 pb2">
      <!-- top part -->
      <div class="relative flex mh3">
        <!-- menu -->
        <div class="menu-toggle dib w-third">
          <input type="checkbox" id="menu-switch">
          <label for="menu-switch" class="menu-icon">&#9776;</label>     
          <a class="link">
            <span class="fw3 ttu">Menu</span>
          </a>
        </div>
        <div class="dib w-third tc">
          <a href="#" class="link black mv0 f2 fw7 ttu lh-solid">
            <img class="h80px" src="/img/hippo-hollow-logo.png" alt="Hippo Hollow Farms">
          </a>
        </div>
        <div class="cf dib w-third">
          <i class="fas fa-shopping-cart fr"></i>
          <i class="fas fa-user fr mr4"></i>
          <div class="fr dib mr4 fw3">444 444 4444</div>
        </div>
      </div>
    </div>
  </div>  
  <div class="tc pt7 pb6 mt5 cover bg-center" style="background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url('/img/image_preview.jpeg')">
    <h1 class="white f3 fw6 tracked-mega ttu">Meat Sustainably Locally Lovingly Raised</h1>
    <h2 class="lh-solid mw white mv3 f1 fw5 tracked i">from our family to yours</h2>
    <h3 class="white mv4 f5 fw3 tracked ttu">No Antibiotics. No Hormones. Ever.</h3>
    <a class="f5 fw5 dim no-underline br-pill ph3 pv2 mb2 dib white bg-light-red ttu" href="/shop">Shop Now</a>
  </div>
</header>