<header class="relative">
  <!-- hero and fixed -->
  <div class="fixed top-0 z-999 w-100 bg-white">
    <!-- sticky header -->
    <div class="relative w-100 mw8 center pt3 pb2">
      <!-- top part -->
      <div class="relative flex mh3">
        <!-- menu -->
        <div class="menu-toggle dib w-third">
          <a class="link">
            <span class="fw3 ttu">Menu</span>
          </a>
        </div>
        <div class="dib w-third tc">
          <a href="#" class="link black mv0 f2 fw7 ttu lh-solid">Hippo
            <span class="black-40">&nbsp;Hollow</span>
            <br>
            <span class="dark-green ttu">Farm</span>
          </a>
        </div>
        <div class="cf dib w-third">
          <i class="fas fa-shopping-cart fr dark-green"></i>
          <i class="fas fa-user fr mr4 dark-green"></i>
          <div class="fr dib mr4 fw3">444 444 4444</div>
        </div>
      </div>
    </div>
    <div class="relative bt bb b--black-50 pv3">
      <!-- bottom part -->
      <div class="relative w-100 mw8 center">
        <div class="relative flex mh3 f7 fw1">
          <div class="dib w-25">
            Home > Meat Packs
          </div>
          <div class="dib w-50 tc">
            We deliver throughout the region &mdash; Every Month
          </div>
          <div class="cf dib w-25">
            <span class="fr">Eat Locally</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tc pt6 pb7 mt6 cover bg-center" style="background-image: url('/img/jez-timms-48940-unsplash.jpg')">
    <h1 class="white f1 fw3 mv0">Meat Packs</h1>
  </div>
</header>