{{ define "main" }}
<section class="relative w-100 mw8 bg-white bt b--dark-green bw3 nt6 center">
  <div class="cf pt3 pb4 tc">
    <h2 class="mb4 f3 fw3 tc">Farm Fresh Directly To You</h2>
    <div class="fl w-50 w-25-ns pa4 tc">
      <i class="far fa-map f1 dark-green"></i>
      <h3 class="mt3 f4 fw4">Check Your Delivery Day</h3>
    </div>
    <div class="fl w-50 w-25-ns pa4 tc">
      <i class="fas fa-shopping-basket f1 dark-green"></i>
      <h3 class="mt3 f4 fw4">Order Your Products On-line</h3>
    </div>
    <div class="fl w-50 w-25-ns pa4 tc">
      <i class="fas fa-truck f1 dark-green"></i>
      <h3 class="mt3 f4 fw4">We Deliver One Of Our Locations</h3>
    </div>
    <div class="fl w-50 w-25-ns pa4 tc">
      <i class="fas fa-car f1 dark-green"></i>
      <h3 class="mt3 f4 fw4">Pick Up At Your Selected Locaton</h3>
    </div>
    <a class="f6 fw3 hover-bg-dark-red no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green ttu" href="/how-it-works">How It Works</a>
  </div>
  <div class="mh3 bt b--black-10"></div>
</section>
<section class="w-100 mw8 bg-white pv4 center">
  <h2 class="mt0 mb4 f3 fw3 tc">Browse Our Food</h2>
  <div class="cf">
    <div class="fl w-50 w-25-ns pa4 tc">
      <div class="fas fa-tag dark-red h4 mb3 f-subheadline"></div>
      <h3 class="mv0 f4 fw4">Specials</h3>
    </div>
    <div class="fl w-50 w-25-ns pa4 tc">
    <div class="flaticon-019-rib dark-green h4 mb3 f-subheadline"></div>
      <h3 class="mv0 f4 fw4">Beef</h3>
    </div>
    <div class="fl w-50 w-25-ns pa4 tc">
    <div class="flaticon-015-pig dark-green h4 mb3 f-subheadline"></div>
      <h3 class="mv0 f4 fw4">Pork</h3>
    </div>
    <div class="fl w-50 w-25-ns pa4 tc">
    <div class="flaticon-028-cheese dark-green h4 mb3 f-subheadline"></div>
      <h3 class="mv0 f4 fw4">Cheese</h3>
    </div>
    <div class="fl w-50 w-25-ns pa4 tc">
      <div class="flaticon-002-vegetables dark-green h4 mb3 f1 f-subheadline-ns"></div>
        <h3 class="mv0 f4 fw4">Veggies</h3>
    </div>
    <div class="fl w-50 w-25-ns pa4 tc">
      <div class="fas fa-box-open dark-green h4 mb3 f-subheadline"></div>
      <h3 class="mv0 f4 fw4">Packages</h3>
    </div>
    <div class="fl w-50 w-25-ns pa4 tc">
      <div class="flaticon-003-chicken-2 dark-green h4 mb3 f-subheadline"></div>
      <h3 class="mv0 f4 fw4">Poultry</h3>
    </div>
    <div class="fl w-50 w-25-ns pa4 tc">
      <div class="flaticon-036-bacon dark-green h4 mb3 f-subheadline"></div>
      <h3 class="mv0 f4 fw4">Smoked</h3>
    </div>
  </div>
  <div class="mh3 mt3 bt b--black-10"></div>
</section>
<section class="w-100 mw8 bg-white pv3 center">
  <p class="mh4 mt0 mb3 measure-wide lh-copy f5 fw3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ab molestias atque ipsa sequi error repellendus sit vero consequatur alias corporis, commodi, magni rem. Quia non minima eos vero officia! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit facilis labore voluptatibus numquam, nostrum laudantium ut similique, odit nihil suscipit nulla molestias cupiditate accusamus maxime tenetur dicta nemo ab deleniti.</p>
  <h2 class="mt0 mb4 mh4 f3 fw3">Meat Delivery Tennessee</h2>
  <p class="mh4 mt0 mb3 measure-wide lh-copy f5 fw3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae consectetur sequi nulla laboriosam iste dignissimos asperiores! Minima officia totam rerum! Soluta totam dolores fugit reprehenderit, cumque autem enim praesentium!</p>
</section>
{{ end }}
