{{ define "main" }}
<section class="relative w-100 pv5 center bg-dark-gray white">
  <div class="cf mw8 center tc">
    <h2 class="clicker mt0 mb4 f1 tc">Farm Fresh Directly To You</h2>
    <div class="fl w-50 w-25-ns pa4 tc">
      <i class="far fa-map f1 light-red"></i>
      <h3 class="mw mt3 mb2 pb2 f4 fw4 i bb b--light-red">Check Your Delivery Day</h3>
      <p class="mt2 lh-copy f6 tracked">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae repellat odit id ex accusantium quo aspernatur delectus.</p>
    </div>
    <div class="fl w-50 w-25-ns pa4 tc">
      <i class="fas fa-shopping-basket f1 light-red"></i>
      <h3 class="mw mt3 mb2 pb2 f4 fw4 i bb b--light-red">Order Your Products On-line</h3>
      <p class="mt2 lh-copy f6 tracked">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae repellat odit id ex accusantium quo aspernatur delectus.</p>
    </div>
    <div class="fl w-50 w-25-ns pa4 tc">
      <i class="fas fa-truck f1 light-red"></i>
      <h3 class="mw mt3 mb2 pb2 f4 fw4 i bb b--light-red">We Deliver One Of Our Locations</h3>
      <p class="mt2 lh-copy f6 tracked">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae repellat odit id ex accusantium quo aspernatur delectus.</p>
    </div>
    <div class="fl w-50 w-25-ns pa4 tc">
      <i class="fas fa-car f1 light-red"></i>
      <h3 class="mw mt3 mb2 pb2 f4 fw4 i bb b--light-red">Pick Up At Your Selected Locaton</h3>
      <p class="mt2 lh-copy f6 tracked">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae repellat odit id ex accusantium quo aspernatur delectus.</p>
    </div>
    <a class="f5 fw5 dim no-underline br-pill ph3 pv2 mb2 dib white bg-light-red ttu" href="/how-it-works">How It Works</a>
  </div>
</section>
<section class="w-100 bg-near-white pv4 center">
  <div class="cf mw8 lh-solid center">
    <div class="fl w-100 w-third-ns pa4 tc">
    <div class="flaticon-034-cow black-30 mb0 f-subheadline"></div>
      <h3 class="mw mv3 f3 fw7 tracked i">Natural</h3>
      <div class="near-black lh-copy tj">
        <p class="mv0 f6 fw3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius adipisci cum excepturi, obcaecati nam quaerat. Natus totam,
          autem minus velit eaque officiis culpa, vero mollitia accusamus error quam, nemo aliquam?</p>
      </div>
    </div>
    <div class="fl w-100 w-third-ns pa4 tc">
    <div class="flaticon-015-pig black-30 mb0 f-subheadline"></div>
      <h3 class="mw mv3 f3 fw7 tracked i">Local</h3>
      <div class="near-black lh-copy tj">
        <p class="mv0 f6 fw3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius adipisci cum excepturi, obcaecati nam quaerat. Natus totam,
          autem minus velit eaque officiis culpa, vero mollitia accusamus error quam, nemo aliquam?</p>
      </div>
    </div>
    <div class="fl w-100 w-third-ns pa4 tc">
      <div class="flaticon-027-chicken black-30 mb0 f-subheadline"></div>
      <h3 class="mw mv3 f3 fw7 tracked i">Economical</h3>
      <div class="near-black lh-copy tj">
        <p class="mv0 f6 fw3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius adipisci cum excepturi, obcaecati nam quaerat. Natus totam, autem minus velit eaque officiis culpa, vero mollitia accusamus error quam, nemo aliquam?</p>
      </div>
    </div>
    <div class="tc">
      <a class="f5 fw5 dim no-underline br-pill ph3 pv2 mb2 dib white bg-light-red ttu" href="/shop">Shop Now</a>   
    </div> 
  </div>
</section>
<section class="cf relative w-100 bg-white pv5 center">
  <img src="/img/ebook_transparent.png" class="absolute mw6 top--50 left--100" alt="">
  <div class="cf mw8 center">
    <div class="fr w-100 w-third-ns">
      <form class="center">
        <fieldset class="cf bn ma0 pa0">
          <div class="cf">
            <label class="clip" for="email-address">Email Address</label>
            <input class="f6 input-reset ba b--black-20 fn fl-ns black-80 bg-white pa2 w-100 w-60-ns br2-ns br--left-ns" placeholder="Your Email Address"
              type="text" name="email-address" value="" id="email-address">
            <input class="center db dib-ns ba f6 button-reset fn fl-ns pv2 ph4 ph2-ns mt3 mt0-ns tc b--light-red bg-animate bg-light-red dim white pointer w-40-ns br-pill br--right-ns"
              type="submit" value="Recipes">
          </div>
        </fieldset>
      </form>      
    </div>
    <div class="fr w-100 w-third-ns lh-solid">
      <p class="mv0">Get delicious recipes for your family&hellip;</p>
      <h2 class="clicker khaki mv0 f-subheadline fw3 tr">free recipes</h2>
    </div>    
  </div>
</section>
<section class="w-100 bg-khaki white pt5 pb6 center lh-copy">
  <div class="mw8 center">
    <h2 class="clicker f2 f-subheadline-ns mt0 mb3 mb4-ns tc i">We love our customers</h2>
    <div class="flex">
      <div class="w-100 w-third-ns pw4">
        <div class="f6 fw3 mb4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, quaerat voluptates minima deleniti ullam eligendi omnis numquam rem ad nihil sint quo, impedit dolor soluta officia mollitia qui at maiores?</div>
        <div class="flex items-center ph4">
          <p class="f5 fw7 w-70 pr3 lh-title tr">Someone Smith<br><span class="fw3 i">All The Stuff</span></p>
          <img src="/img/amanda-kerr-39507-unsplash.jpg" class="fl w3 h3 br-100" alt="">
        </div>
      </div>
      <div class="w-100 w-third-ns pw4">
        <div class="f6 fw3 mb4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, quaerat voluptates minima deleniti ullam eligendi
          omnis numquam rem ad nihil sint quo, impedit dolor soluta officia mollitia qui at maiores?</div>
        <div class="flex items-center ph4">
          <p class="f5 fw7 w-70 pr3 lh-title tr">Someone Smith
            <br>
            <span class="fw3 i">All The Stuff</span>
          </p>
          <img src="/img/amanda-kerr-39507-unsplash.jpg" class="fl w3 h3 br-100" alt="">
        </div>
      </div>
      <div class="w-100 w-third-ns pw4">
        <div class="f6 fw3 mb4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, quaerat voluptates minima deleniti ullam eligendi
          omnis numquam rem ad nihil sint quo, impedit dolor soluta officia mollitia qui at maiores?</div>
        <div class="flex items-center ph4">
          <p class="f5 fw7 w-70 pr3 lh-title tr">Someone Smith
            <br>
            <span class="fw3 i">All The Stuff</span>
          </p>
          <img src="/img/amanda-kerr-39507-unsplash.jpg" class="fl w3 h3 br-100" alt="">
        </div>
      </div>      
    </div>
  </div>
</section>

{{ end }}
