{{ define "main" }}
<section class="relative w-100 mw8 bg-transparent center lh-copy">
  <div class="flex flex-wrap items-start">
    <div class="w-100 w-70-ns bg-white pa5">
      <div class="flex items-start b--dashed bt-0 bl-0 br-0 bw1 b--black-10 mb4 pb2">
        <div class="w4 w5-ns">
          <i class="far fa-map f3 f1-ns khaki"></i>
        </div>
        <div class="ml2 lh-copy">
          <h2 class="mt0 mb3 lh-solid f4 f3-ns fw3">Check Your Delivery Day</h2>
          <p class="mt0 mb3 f5 fw4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus iste quibusdam quaerat, molestiae eveniet illum vel suscipit? Aut provident aspernatur culpa amet. Cumque iure, veniam quisquam mollitia exercitationem omnis quidem?</p>
          <p class="mt0 mb3 f6 fw3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor natus minima autem quis ex. Nihil harum quasi quod nulla nostrum doloribus, libero illum! Eum illo quas quae! Maxime, voluptatum. Provident.</p>
        </div>
      </div>
      <div class="flex items-start b--dashed bt-0 bl-0 br-0 bw1 b--black-10 mb4 pb2">
        <div class="w4 w5-ns">
          <i class="fas fa-shopping-basket f3 f1-ns khaki"></i>
        </div>
        <div class="ml2 lh-copy">
          <h2 class="mt0 mb3 lh-solid f4 f3-ns fw3">Order Your Products On-line</h2>
          <p class="mt0 mb3 f5 fw4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus iste quibusdam quaerat, molestiae eveniet illum
            vel suscipit? Aut provident aspernatur culpa amet. Cumque iure, veniam quisquam mollitia exercitationem omnis quidem?</p>
          <p class="mt0 mb3 f6 fw3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor natus minima autem quis ex. Nihil harum quasi quod nulla
            nostrum doloribus, libero illum! Eum illo quas quae! Maxime, voluptatum. Provident.</p>
        </div>
      </div>
      <div class="flex items-start b--dashed bt-0 bl-0 br-0 bw1 b--black-10 mb4 pb2">
        <div class="w4 w5-ns">
          <i class="fas fa-truck f3 f1-ns khaki"></i>
        </div>
        <div class="ml2 lh-copy">
          <h2 class="mt0 mb3 lh-solid f4 f3-ns fw3">We Deliver To One Of Our Locations</h2>
          <p class="mt0 mb3 f5 fw4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus iste quibusdam quaerat, molestiae eveniet illum
            vel suscipit? Aut provident aspernatur culpa amet. Cumque iure, veniam quisquam mollitia exercitationem omnis quidem?</p>
          <p class="mt0 mb3 f6 fw3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor natus minima autem quis ex. Nihil harum quasi quod nulla
            nostrum doloribus, libero illum! Eum illo quas quae! Maxime, voluptatum. Provident.</p>
        </div>
      </div>
      <div class="flex items-start b--dashed bt-0 bl-0 br-0 bw1 b--black-10 mb4 pb2">
        <div class="w4 w5-ns">
          <i class="fas fa-car f3 f1-ns khaki"></i>
        </div>
        <div class="ml2 lh-copy">
          <h2 class="mt0 mb3 lh-solid f4 f3-ns fw3">Pick Up At Your Selected Location</h2>
          <p class="mt0 mb3 f5 fw4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus iste quibusdam quaerat, molestiae eveniet illum
            vel suscipit? Aut provident aspernatur culpa amet. Cumque iure, veniam quisquam mollitia exercitationem omnis quidem?</p>
          <p class="mt0 mb3 f6 fw3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor natus minima autem quis ex. Nihil harum quasi quod nulla
            nostrum doloribus, libero illum! Eum illo quas quae! Maxime, voluptatum. Provident.</p>
        </div>
      </div>

    </div>
    <div class="w-100 w5-ns mh3 ml4-ns mr0-ns">
      <a href="/" class="db link mb2">
        <div class="aspect-ratio aspect-ratio--4x3 ba b--white-50">
          <div class="aspect-ratio--object cover" style="background:url(/img/mike-tinnion-365019-unsplash.jpg) center;">
            <div class="dt w-100 h-100">
              <h2 class="dtc v-mid tc white f4 fw5">Shop Online</h2>
            </div>
          </div>
        </div>
      </a>
      <a href="/" class="db link mb2">
        <div class="aspect-ratio aspect-ratio--4x3 ba b--white-50">
          <div class="aspect-ratio--object cover" style="background:url(/img/gabriel-garcia-marengo-68299-unsplash.jpg) center;">
            <div class="dt w-100 h-100">
              <h2 class="dtc v-mid tc white f4 fw5">Cooking</h2>
            </div>
          </div>
        </div>
      </a>
      <a href="/" class="db link mb2">
        <div class="aspect-ratio aspect-ratio--4x3 ba b--white-50">
          <div class="aspect-ratio--object cover" style="background:url(/img/jez-timms-48940-unsplash.jpg) center;">
            <div class="dt w-100 h-100">
              <h2 class="dtc v-mid tc white f4 fw5">Frequent Questions</h2>
            </div>
          </div>
        </div>
      </a>
      <a href="/" class="db link mb2">
        <div class="aspect-ratio aspect-ratio--4x3 ba b--white-50">
          <div class="aspect-ratio--object cover" style="background:url(/img/nick-karvounis-451562-unsplash.jpg) center;">
            <div class="dt w-100 h-100">
              <h2 class="dtc v-mid tc white f4 fw5">News</h2>
            </div>
          </div>
        </div>
      </a>

    </div>
  </div>
</section>
{{ end }}