{{ define "main" }}
<section class="relative w-100 mw8 bg-white bt b--dark-green bw3 nt6 center">
  <div class="cf pt3 pb4 tc">
    <h2 class="mb4 f3 fw3 tc">Farm Fresh Directly To You</h2>
    <div class="fl w-50 w-25-ns pa4 tc">
      <i class="far fa-map f1 dark-green"></i>
      <h3 class="mt3 f4 fw4">Check Your Delivery Day</h3>
    </div>
    <div class="fl w-50 w-25-ns pa4 tc">
      <i class="fas fa-shopping-basket f1 dark-green"></i>
      <h3 class="mt3 f4 fw4">Order Your Products On-line</h3>
    </div>
    <div class="fl w-50 w-25-ns pa4 tc">
      <i class="fas fa-truck f1 dark-green"></i>
      <h3 class="mt3 f4 fw4">We Deliver One Of Our Locations</h3>
    </div>
    <div class="fl w-50 w-25-ns pa4 tc">
      <i class="fas fa-car f1 dark-green"></i>
      <h3 class="mt3 f4 fw4">Pick Up At Your Selected Locaton</h3>
    </div>
    <a class="f6 fw3 hover-bg-dark-red no-underline br-pill ph3 pv2 mb2 dib white bg-dark-green ttu" href="#0">How It Works</a>
  </div>
  <div class="mh3 bt b--black-10"></div>
</section>
{{ end }}