{{ define "main" }}

<section class="w-100 mw8 bg-white pv4 center">
  {{ .Content }}
   {{ partial "home-product" . }}
</section>
<section class="w-100 mw8 bg-white pv3 center">
  <p class="mh4 mt0 mb3 measure-wide lh-copy f5 fw3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ab molestias atque ipsa sequi error repellendus sit vero
    consequatur alias corporis, commodi, magni rem. Quia non minima eos vero officia! Lorem ipsum dolor sit amet consectetur,
    adipisicing elit. Fugit facilis labore voluptatibus numquam, nostrum laudantium ut similique, odit nihil suscipit nulla
    molestias cupiditate accusamus maxime tenetur dicta nemo ab deleniti.</p>
  <h2 class="mt0 mb4 mh4 f3 fw3">Meat Delivery Tennessee</h2>
  <p class="mh4 mt0 mb3 measure-wide lh-copy f5 fw3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae consectetur sequi nulla laboriosam iste dignissimos
    asperiores! Minima officia totam rerum! Soluta totam dolores fugit reprehenderit, cumque autem enim praesentium!</p>
</section>

{{ end }}